WEBPASSWORD={{pihole_password | hash('sha256') |  hash('sha256')}}
PIHOLE_INTERFACE=eth0
IPV4_ADDRESS={{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}
IPV6_ADDRESS={{ ansible_default_ipv6.address|default(ansible_all_ipv6_addresses[0]) }}
QUERY_LOGGING=true
INSTALL_WEB=true
DNSMASQ_LISTENING=single
PIHOLE_DNS_1={{pihole_dns1}}
PIHOLE_DNS_2={{pihole_dns2}}
PIHOLE_DNS_3={{pihole_dns3}}
PIHOLE_DNS_4={{pihole_dns4}}
DNS_FQDN_REQUIRED=false
DNS_BOGUS_PRIV=false
DNSSEC=true
TEMPERATUREUNIT=C
WEBUIBOXEDLAYOUT=traditional
API_EXCLUDE_DOMAINS=
API_EXCLUDE_CLIENTS=
API_QUERY_LOG_SHOW=all
API_PRIVACY_MODE=false
REV_SERVER={{ pihole_rev_server_enable }}
REV_SERVER_CIDR={{ pihole_rev_server_network }}
REV_SERVER_TARGET={{ pihole_rev_server_router_ip }}
REV_SERVER_DOMAIN={{ pihole_rev_server_domain }}
